/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation
 *= require_tree .
 *= require_self
 */
@media only screen and (max-width: 40em) { /* small */
  body{
    padding: 1rem;
  }
}
@media only screen and (min-width: 40.063em) { /* medium */
  body {
    padding: 2rem;
  }
}
@media only screen and (min-width: 64.063em) { /* large */
  body {
    padding: 3rem;
    padding-top: 2rem;
  }
}

html {
  background: url(bg_tile.jpg);
}

body {
  width: 80%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.round-box {
  border: 1px solid #cacaca;
  border-radius: 15px;
  padding: 2rem;
}

.square-box {
  border: 1px solid #cacaca;
  margin: 1rem;
  padding: 1rem;
}

i.medium {
  font-size: 1.8rem;
}

i.large {
  font-size: 2rem;
}
